* {
    box-sizing: border-box;
}

body {
    /* width: 80%; */
    margin: 0;
    padding: 0;
    background-image: url(../media/SlickyRickyBackground.jpg);
    /* background-color: azure; */
}

#canvas {
    margin-bottom: 25px;
    border: 5px #ff5ae2 solid;
    background-image: url("../media/28.jpg");
}

.controls {
    margin-top: 60px;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 8pt;
}

.controls p {
    margin-bottom: 0;
}

.restart {
    font-family: '8BIT WONDER', sans-serif;
    font-size: 20pt;
}

.customer {
    font-family: '8BIT WONDER', sans-serif;
    font-size: 6pt;
    width: 50%;
}

.customer h2 {
    font-size: 15pt;
    margin-bottom: 0
}

.customer p {
    color: white;
}

.score {
    color: white;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 10pt;
    width: 50%;
}

#startBtn {
    background-color: #1a0124;
    color: white;
    padding: 10px;
    border-radius: 45px;
    border: 5px #ff5ae2 solid;
    font-family: '8BIT WONDER', sans-serif;
}

.music {
    margin-top: 20px;
}